p {
    text-align: justify;
    text-decoration: none;
}
body {
    font-family: Helvetica, sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
}
/*h2 {
    border-bottom: 1px solid black;
}*/
figure {
    text-align: center;
    background-color: whitesmoke;
    color: gray;
    padding: 15px;
    margin: 30px;
}
figcaption {
    padding-top: 10px;
}
.matriz-musicdot {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.familia-tupfeln {
    width: 275px;
    float: right;
}
figure img {
    width: 100%;
}
.historia {
    border-bottom: 1px solid black;
}
.diferenciais {
    border-bottom: 1px solid black;
}
.contato {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
    font-size: xx-large;
}
input[type=text],
input[type=tel],
input[type=e-mail] {
    margin: 10px;
    width: 500px;
    height: 30px;
}
textarea {
    margin: 10px;
    width: 500px;
    height: 300px;
}
input[type=button] {
    margin: 10px;
    width: 100px;
    height: 50px;
    background-color: white;
    color: black;
    font-weight: bold;
}
